.SingleMatch{
    display: flex;
    width: 350px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border: 2px solid red;
    border-radius:10px;
    padding:5px;
    cursor: pointer;
    background: black;
    // background: linear-gradient(125deg, rgba(14,13,13,1) 45%, rgba(135,13,13,1) 70%);
    transition: all .3s;
    &:hover{
        transform: scale(1.05);
        -webkit-box-shadow: 0px 0px 62px -18px red;
        -moz-box-shadow: 0px 0px 62px -18px red;
        box-shadow: 0px 0px 62px -18px red;
        border-color: red;
        background: rgb(8, 8, 8,0.9);   
    }
    h2{
        font-size: 24px;
        line-height: 24px;
        text-align: center;
    }
    .SingleMatchContent{
        display: flex;
        padding:10px;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;
        span{
            font-size: 34px;
            font-weight: 600;
        }
        .SingleTeam{
            padding:5px;
            display: flex;
            flex-direction: column;
            span{
                font-size: 20px;
                margin-top: 5px;
                padding: 0px 5px;
                }
        }
    }
}