.MatchCenterContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    h2{
        text-align: center;
        padding:15px;
    }
    .MatchCenter{
        align-items: center;
        display: flex;
        flex:1;  
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }
}