:root {

}
html{
  font-size: 16px;
}
@media all and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}

@media all and (max-width: 768px) {
  html {
      font-size: 14px;
  }
}

@media all and (max-width: 640px) {
  html {
      font-size: 12px;
  }
}

body{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgb(10, 10, 10) 45%, rgba(89,0,0,1) 100%);
  color:white;
  font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 900px) {
main{
  width: 100%;
}
}
a{
  outline: none;
  color:white;
  text-decoration: none;
}
img{
    display: inline-block;
    max-inline-size: 100%;
    block-size: auto;   
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




