.commentsContainer{
    .mainComment{
        margin-bottom: 10px;
        // background-color:black;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        gap:15px;
        display: flex;
        flex-direction:column;
        .replyComment{
            gap:10px;
            display: flex;
            flex-direction:column;
            width: 90%; 
            margin-left: auto;
        }
    }
}